/*

Colors-
Primary = #4B868A
Secondary = #404242
Accent = #89D1D6

Fonts-
Font 1 = Lora, serif

Font
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

Specify families-
font-family: 'Lora', serif;

*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

 /*------------Utility Classes----------*/

.container{
    width:80vw;
    max-width:960px;
    margin:40px auto;
}

.img-right{
    float:right;
    border:1px solid #89D1D6;
    padding:2px;
    margin:10px 0 10px 20px;
}

.img-left{
    float:left;
    border:1px solid #89D1D6;
    padding:2px;
    margin:10px 0 10px 20px;
}

.img-center{
    display:block;
    border:1px solid #89D1D6;
    padding:2px;
    margin:20px auto;
}

/*-----------Responsive Images-----------*/

img{
    max-width:100%;
}

/*-----------Tables-----------*/

table{
    width:100%;
border:1px solid #89D1D6;
border-collapse:collapse;

}
table caption{
    font-weight:bold;
    margin:20px;
}
table tr:nth-child(even){
    background-color:rgba(0,0,0,.1);
}

table tr:hover{
    background-color:rgba(0,0,0,.2);
}



table th{
    background-color:#404242;
    color:#89D1D6;
    padding:10px;
}
table td{
border:1px solid #89D1D6;
padding:5px;
text-align:right;
width:33%;
}

td:first-of-type{
    text-align:left;
}


/*------------Lists----------*/

ol{
    list-style-type:lower-roman;    
}

li{

}

ul ul{
    list-style-type:circle;
    color:#4B868A;
}

dl{}
dt{
    font-weight:bold;
}
dd{
    margin:0;
}

dd+dt{
    margin-top:20px;
}

  /*------------Global Styles----------*/


body{
    font-family: 'Lora', serif;
    margin:0;
    font-size:80%
    background-image: 
    background-repeat: no-repeat;
}

header.primary{
    background-color:#4B868A;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    text-align:center;
    color: #ffffff;
    padding:40px;
    /*long form*/
    padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left:40px;
/* T,R,B,L */
padding: 20px 40px 20px 40px;
/* Two Value Top/Bottom / L/R */
padding: 20px 40px;
text-shadow:1px 1px #000000;
}

header.primary h1{
    font-size:2.4rem;
    margin: 20px 0 10px;
}

header.primary h1 a{
    color: #fff;
    text-decoration:none;
}

header.primary h2{
    font-size:1.4rem;
}

header.primary nav{
    max-width:960px;   
    margin:20px auto;
}

header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

header.primary nav ul li{
list-style-type:none;
}

header.primary nav ul li a{
    color:#fff;
    text-decoration:none;
    background-color:#000;
    background-color:rgba(0,0,0,.4);
    padding:8px 16px;
    border-radius:20px;
    border: 1px solid rgba(0,0,0,.4);
    transition: 0.8s;
}

header.primary nav ul li a:hover,
header.primary nav ul li a:active{
    background-color:rgba(0,0,0,.8);
}

#intro{
border-bottom: 1px dotted #4B868A;
padding-bottom: 14px;
}

#intro h2{
    color:#404242;
    border-bottom: 1px dotted #4B868A;
}

#content{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    gap:20px;
    border-bottom: 1px dotted #c0c0c0;
    padding-bottom:2.6rem;

}

#content article.post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
  }
  
  #content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  article.post figure {
    margin: 0;
  }

time.post-date
figcaption,
.post-meta
{
    text-transform:uppercase;
    color:#c0c0c0;
}

.post figure img{
    border:1px solid #c0c0c0;
    padding:2px ;
    border-radius:5px;
}

article.post a{
    color:#4B868A;
}

article.post a: hover{
    text-decoration:none;
}

#practice h2{
    color:#404242;
    border-bottom: 1px dotted #4B868A;
}

#practice blockquote{
    border: 3px solid black;
    margin:20px 40px;
    padding:40px;
    background-color:#89D1D6; 
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    color: black;
    line-height:1.8;
    border-radius: 30px 30px;
}

#practice blockquote cite{
display:block;
font-size: .8rem;
font-weight: bold;
text-align: right;
}

aside[role="complementary"]{
    background-color: #4B868A;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color:#fff;
    padding:1.9rem;
}

/* Attribute Selector Example
a[target="_blank"]{
    color: red;
}
*/

aside .container{
    display:flex;
    gap:40px;
    flex-direction:row;
}

aside .widget a:last-of-type{
    display:block;
    text-align:right;
    padding-top:20px;
    color:white;
}

aside .widget footer{
    display:none;
}

#colophon {
    background-color: #404242;
}

#colophon h6 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
}

/* --------Media Queries--------*/

@media screen and (max-width:600px){
    
    header.primary nav ul{
        flex-direction:column;
        max-width:250px
        margin:auto;
    }

header.primary nav a {
    display: block;
}

header.primary nav li{
    margin-bottom: 10px;
}


